
/* Main content styles
-------------------------------------------------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    /*background-color: #333399;   */
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 300;
    color: #96969a;
    /*line-height: 1.2;*/
}

.top-row {
  margin-top: 1.75rem;
}

.middle-row {
  padding-top: 1.75rem;
}

h2 {
    font-weight: 600;
    /*font-size: 2.625rem;*/
}

h2 a {
    color: #221c35;
}

p {
    font-weight: 400;
    margin-top: 1.125rem;
    color: #96969a;

}

.button {
  font-family: 'Source Sans Pro', sans-serif;
}

.button-text {
  letter-spacing: 0.0625rem;
  /*text-transform: uppercase;*/
  font-weight: 400;
}

.deactivated-start {
  color: #e7e7eb;
  background-color: #e7e7eb;
}

/*.center-element {
  margin: 0 auto;
}*/


.medium-grey {
    background-color: #96969a;
}

/* Simple Simon Styles
-------------------------------------------------- */

ul.quadrant {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 18.875rem;
  height: 18.875rem;
  border-radius: 18.875rem;
  overflow: hidden;
  /*background: #b00;*/
}

ul.quadrant li {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
}

ul.quadrant li.top-left {
  margin: 0 0.0625rem 0.0625rem 0;
}

ul.quadrant li.top-right {
  margin: 0 0 0.0625rem 0.0625rem;
}

ul.quadrant li.bottom-left {
  margin: 0.0625rem 0.0625rem 0 0;
}

ul.quadrant li.bottom-right {
  margin: 0.0625rem 0 0 0.0625rem;
}

.red, .yellow, .green, .blue {
  /*width: 10rem;
  height: 10rem;
  display: inline-block;*/
  opacity: 0.5;
}

.red {
  background-color: #FF4136;
}

.yellow {
  background-color: #FFDC00;
}

.green {
  background-color: #2ECC40;
}

.blue {
  background-color: #0074D9;
}


